<div class="container">
    <h2 class="section-title">Proyectos destacados</h2>
    <div class="projects-grid">

        <div class="project-card">
            <div>
                <div class="project-title">En desarrollo</div>
                <div class="project-desc">En desarrollo.</div>
            </div>
            <div class="tags" style="margin-bottom: 15px;">
                <span class="tag">
                    <img src="assets/img/angular.svg" alt="Angular" class="tag-icon">Angular</span>
                <span class="tag">
                    <img src="assets/img/laravel.svg" alt="Laravel" class="tag-icon">Laravel</span>
                <span class="tag">
                    <img src="assets/img/MySQL_dark.svg" alt="MySQL" class="tag-icon">MySQL</span>
            </div>
            <a href="#" target="_blank">Ver Proyecto en GitHub &rarr;</a>
        </div>

        <div class="project-card">
            <div>
                <div class="project-title">En desarrollo</div>
                <div class="project-desc">En desarrollo.</div>
            </div>
            <div class="tags" style="margin-bottom: 15px;">
                <span class="tag">
                    <img src="assets/img/angular.svg" alt="Angular" class="tag-icon">Angular</span>
                <span class="tag">
                    <img src="assets/img/laravel.svg" alt="Laravel" class="tag-icon">Laravel</span>
                <span class="tag">
                    <img src="assets/img/MySQL_dark.svg" alt="MySQL" class="tag-icon">MySQL</span>
            </div>
            <a href="#" target="_blank">Ver Proyecto en GitHub &rarr;</a>
        </div>

    </div>
</div>