<div class="container">
    <h2 class="section-title">Proyectos destacados</h2>
    <div class="projects-grid">

        <div class="project-card">
            <div class="project-image">
                <img src="assets/img/surl-preview.png" class="project-image" alt="Previsualización de SURL">
            </div>
            <div>
                <div class="project-title">SURL - URL Shortener</div>
                <div class="project-desc">
                    <p>Desarrollé la aplicación para resolver el problema de la gestión e interacción
                        con enlaces largos, buscando ofrecer una herramienta rápida, ligera y escalable.
                        La aplicación fue construida con Angular, haciendo uso de módulos y lazy
                        loading para mejorar el rendimiento del cliente. Por su parte, la comunicación con el backend
                        cuenta
                        con protección de rutas y autenticación mediante Laravel Sanctum.</p>
                </div>
                <div class="tags" style="margin-bottom: 15px;">
                    <span class="tag">
                        <img src="assets/img/angular.svg" alt="Angular" class="tag-icon">Angular</span>
                    <span class="tag">
                        <img src="assets/img/laravel.svg" alt="Laravel" class="tag-icon">Laravel</span>
                    <span class="tag">
                        <img src="assets/img/MySQL_dark.svg" alt="MySQL" class="tag-icon">MySQL</span>
                </div>
                <a href="https://github.com/rober2415/short-url" target="_blank">Ver Proyecto en GitHub &rarr;</a>
            </div>

        </div>

    </div>
</div>