nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--nav-bg);
  backdrop-filter: blur(10px);
  z-index: 100;
  border-bottom: 1px solid #334155;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--text-primary);
}

.logo span {
  color: var(--accent);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-links a {
  color: var(--text-secondary);
  font-size: 0.85rem;
  font-weight: 550;
}

.nav-links a:hover {
  color: var(--accent);
}

@media (max-width: 440px) {
  .logo {
    display: none;
  }

  .nav-container {
    justify-content: center;
  }

  .nav-links {
    gap: 0.7rem;
  }

  .nav-links a {
  font-size: 0.80rem;
}
}