<!-- Barra de navegación fija superior -->
<app-navbar></app-navbar>

<main>
  <!-- Sección de Presentación -->
  <section id="hero">
    <app-hero></app-hero>
  </section>

  <!-- Sección de Experiencia -->
  <section id="experience">
    <app-experience></app-experience>
  </section>

  <!-- Sección de Proyectos -->
  <section id="projects">
    <app-projects></app-projects>
  </section>

  <!-- Sección de Habilidades -->
  <section id="skills">
    <app-skills></app-skills>
  </section>

  <!-- Sección de Educación -->
  <section id="education">
    <app-education></app-education>
  </section>

  <!-- Sección de Acerca de mi -->
  <section id="aboutme">
    <app-aboutme></app-aboutme>
  </section>
</main>

<app-footer></app-footer>