<div class="container">
    <h2 class="section-title">Sobre mí</h2>
    <div class="about-grid">
        <div class="about-text">
            <p>
                Me mueve el aprendizaje continuo, la mejora constante y la curiosidad por nuevas herramientas,
                frameworks y metodologías. Disfruto explorando tendencias del sector, perfeccionando mis habilidades y
                aplicando ese conocimiento para crear productos digitales más eficientes, escalables y bien
                estructurados. Además, me interesa comprender no solo cómo se construyen las soluciones, sino también
                por qué ciertas tecnologías o enfoques aportan más valor en cada contexto.
            </p>

            <p>
                Esa mentalidad me lleva a experimentar, analizar y adoptar buenas prácticas que fortalecen mi trabajo,
                desde patrones de diseño y arquitectura de software hasta principios SOLID, clean code y optimización de
                recursos. Para mí, aprender no es una fase, sino una rutina diaria que impulsa mi crecimiento
                profesional y me permite aportar una visión más
                completa en cada proyecto.
            </p>
        </div>
        <div class="about-image">
            <img src="assets/img/about-image.png" alt="Foto de perfil" class="profile-image">
        </div>
    </div>
</div>