<header class="container hero">
    <h1>Roberto Castro Álvarez</h1>
    <h2><strong> Desarrollador Web Full Stack</strong></h2>
    <div class="cta-group">
        <a href="mailto:rober2415@hotmail.com" class="btn btn-primary">Contactar</a>
        <a href="#projects" class="btn btn-secondary">Ver Proyectos</a>
        <a href="https://www.linkedin.com/in/roberto-castro-%C3%A1lvarez-706b301b2/" class="btn btn-secondary"
            target="_blank">LinkedIn</a>
        <a href="https://github.com/rober2415" class="btn btn-secondary" target="_blank">GitHub</a>
    </div>
</header>