<div class="container">
    <h2 class="section-title">Proyectos destacados</h2>
    <div class="projects-grid">
        @for( project of projects; track project.id){
        <div class="project-card">
            <div class="project-image">
                <img [src]="project.image" class="project-image" [alt]="'Previsualización de ' + project.title">
            </div>
            <div>
                <div class="project-title">{{project.title}}</div>
                <div class="project-desc">
                    <p>{{project.description}}</p>
                </div>
                <div class="tags" style="margin-bottom: 15px;">
                    @for(tag of project.tags; track $index){
                    <span class="tag">
                        <img [src]="tag.icon" [alt]="tag.name" class="tag-icon">{{tag.name}}</span>
                    }
                </div>
                <div class="project-url">
                    <a [href]="project.code" target="_blank">Code &rarr;</a>
                    <a [href]="project.preview" target="_blank">Preview &rarr;</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>