<header class="container hero">
    <h1>Roberto Castro Álvarez</h1>
    <h2><strong> Desarrollador Web Full Stack</strong></h2>
    <div class="cta-group">
        <a href="assets/documents/CV_Roberto_Castro_Alvarez.pdf" class="btn btn-primary" download>Descargar CV</a>
        <a href="https://www.linkedin.com/in/roberto-castro-alvarez/" class="btn btn-secondary" target="_blank"><img
                class="hero-icon theme-icon" src="assets/img/linkedin.svg" alt="LinkedIn"></a>
        <a href="https://github.com/rober2415" class="btn btn-secondary" target="_blank"><img class="hero-icon theme-icon"
                src="assets/img/GitHub.svg" alt="GitHub"></a>
    </div>
</header>